// Colors
$text-color: #FFFEFE;
$form-bg-color: rgba(20, 146, 204, 0.7);
$input-bg-color: #C7DBF0;
$input-text-color: #435B6D;
$percentage-color: rgba(192, 192, 192, 1);
$hover-border-color: #FFFFFF;
$btn-color: rgba(17, 42, 61, 0.8);

// Fonts
$main-font: 'Josefin Sans', sans-serif;

// Other
$main-transition: all .3s linear;
$main-radius: 5px;
$main-shadow: 5px 5px 10px rgba(0,0,0,0.5);
